* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #211d1d;
  font-family: "Robot", sans-serif;
}

.landscape {
  background: url("./images/landscape.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 40px 0;
}

.title {
  margin-bottom: 10px;
  font-weight: 00;
  font-size: 3rem;
  color: #fff;
}

.sub-title {
  margin-top: 10px;
  color: white;
  font-size: 22px;
  font-weight: 400;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.meditation-options {
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 750px;
}

.option {
  display: flex;
  align-items: center;
  background-color: #905279;
  padding: 30px 20px;
  border-radius: 10px;
  margin: 15px;
  min-width: 230px;
  max-height: 80px;
  cursor: pointer;
}

img {
  color: white;
  width: 30px;
  margin-right: 15px;
}

i {
  color: white;
  width: 30px;
  margin-right: 6px;
}

.text h6 {
  color: white;
  font-size: 15px;
  margin: 0 0 8px;
  font-weight: 400;
}

.text p {
  color: #d2d4de;
  font-size: 12px;
  margin: 0;
}
